<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<link rel='stylesheet' href={% static "guess_number.css" %} />
		<script src={% static "guess_number.js" %}></script>
		<title>
			Угадай число
		</title>		
	</head>
	<body>
		<input class="name" id="name" type="text" placeholder="введите Ваше имя"/>
		<div class="main">
			<div class="game">
				<div>
					<div class="text">
						<u>Загадано число</u><br /> 
						от 0 до <span id="max_number">{{max_number}}</span>
					</div>
					<div class="number" id="guess"></div>
				</div>
				<div>
					<div class="text">		
						<u>Ваш вариант </u><br /> 
						Введите число <br /> 
						и нажмите ENTER
					</div>
					<input class="number" id="try" type="text" value="{{max_leaders}}"/>
				</div>
			</div>
			<div id="steps"></div>
		</div>
		<div id="records"></div>
	</body>
</html>