<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<link rel='stylesheet' href={% static "guess_number.css" %} />
		<script src={% static "guess_number.js" %}></script>
		<title>
			Угадай число
		</title>		
	</head>
	<body>
		<div class="number" id="param">
			<div>
				<div class="text">
					"... до"
				</div>
				<input class="number" id="set_max_number" type="text" placeholder="число" value="{{max_number}}" >
			</div>
			<div>
				<div class="text">
					Рекорды
				</div>
				<input class="number" id="set_max_leaders" type="text" placeholder="кол-во" value="{{max_leaders}}">
			</div>
			<div class="number button" id="ok">
				OK
			</div>
			<div class="number button" id="cancel">
				Отмена
			</div>			
		</div>
		<div class="title">			
			<div class="number button" id="choice"> 
				выбор
			</div>
			<input class="number" id="name" type="text" placeholder="введите Ваше имя"/>				
		</div>
		<div class="main">
			<div class="game">
				<div>
					<div class="text">
						<u>Загадано число</u><br /> 
						от 0 до <span id="max_number"></span>
					</div>
					<div class="number" id="guess"></div>
				</div>
				<div>
					<div class="text">		
						<u>Ваш вариант </u><br /> 
						Введите число <br /> 
						и нажмите ENTER
					</div>
					<input class="number" id="try" type="text" />
				</div>
			</div>
			<div id="steps"></div>
		</div>
		<div id="records"></div>
	</body>
</html>